.recipe {
    background-color: #FFEC73;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    padding: 15px;
  
    .recipeTitle {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      word-break: break-all;
      flex-wrap: wrap;

      &:after {
        content: "";
        height: 2px;
        width: 100%;
        background: #ccc;
        position: absolute;
        bottom: 0;
      }
    }
    pre {
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: auto;
      overflow-y: hidden;
      font-size: 16px;
      line-height: 20px;
      background: #efefef;
      border: 1px solid #777;
      padding: 10px;
      color: #333;
    }
}
