//device size
$mobileS: '320px';
$mobileM: '375px';
$mobileL: '425px';
$tablet: '768px';
$laptop: '1024px';
$laptopL: '1440px';
$desktop: '2560px';
//styles
$borderRadius: 15px;
$padding: 4vh;
$height: 100vh;
$width: 100vh;  