ul {
    padding: 0;

}

.recipesList {
    text-align: center;
}

  
  .recipeListItem {
      padding: 10px;
      background: #FFEC73;
      margin: 5px;
      max-width: 250px;
      overflow-wrap: break-word;
  }
