@import "./styles/var.scss";

.main {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: $padding;
  height: $height;

  .mainContainer {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #a092de;
    padding-left: 75px;
    border-radius: 0 $borderRadius $borderRadius 0px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgb(255, 236, 115);
      -webkit-box-shadow: 0 0 1px rgba(240, 191, 30, 0.5);
    }

  }

  @media screen and (max-width: $tablet) {
      height: 100vh;
      padding: 0;
      .mainContainer {
        border-radius: 0;
      }
  }


  @media screen and (max-width: 970px) {
    .mainContainer {
      padding-left: 0;
    }
  }
}


